<!-- <p>reactforms works!</p> -->


<html>
    <div class="bg"> 
    <h1 class="heading">Employee Registration Form</h1>
    <form [formGroup]="RegistrationForm" >
        <div>
        <label class="color">FirstName</label><br>
        <input  type="text"  formControlName="FirstName">
        </div>

         <div>
        <label  class="color"> Last Name</label><br>
        <input type="text"  formControlName="LastName">
        </div>

        <div>
            <label class="color"  >Email-Id</label><br>
            <input  type=text  formControlName="Email">
        </div>
        <div>
            <label class="color">Password</label><br>
            <input  type=password  formControlName="Password">
        </div>
        
            <br>

            <button class="button" (click)="onSubmit()">Submit</button> 
            <button class="button1" (click)="onReset()">Reset</button> 
             
         </form>
        </div>
     </html>
