



<router-outlet></router-outlet>
<!-- 
<h1>Create A Table In Angular</h1>

  <table id = "a2" style="width:100%">
  <tr>
  <th>Name</th>
  <th>Company</th>
  <th>Location</th>
  </tr>
  <tr>
  <td>Anand Babu</td>
  <td>Miracle</td>
  <td>M-City</td>
  </tr>
  <tr>
  <td>Anand </td>
  <td>SBI</td>
  <td>Mumbai</td>
  </tr>
  </table> -->
<!-- <app-simple-table></app-simple-table> -->
<!-- <app-reactforms></app-reactforms> -->
 
<app-reactive-forms1></app-reactive-forms1>

<!-- <app-template></app-template> -->